.app_dark_theme {
  --bg-color: #0e0e75;
  --inverted-bg-color: #d6d6e0;
  --primary-color: #04ff04;
  --secondary-color: #049604;
  --inverted-primary-color: #0633b9;
  --inverted-secondary-color: #004fff;

  // sceleton
  --skeleton-shadow: #2b2be8;
  --skeleton-color: #1515ad;

  // code
  --code-bg: #1212a1;

  // card
  --card-bg: #0d0d6b;
}
