.app_orange_theme {
  --bg-color: #fbf7ef;
  --inverted-bg-color: #f8ae25;
  --primary-color: #e47d07;
  --secondary-color: #f8f7f7;
  --inverted-primary-color: #f8f7f7;
  --inverted-secondary-color: #e47d07;
}
