.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
  border-radius: var(--border-radius);
}

.loading {
  height: 300px;
}

.error {
  border: 2px solid var(--red-light);
  height: 300px;
}

.editing {
  border: 2px solid var(--inverted-primary-color);
}
