.AppLink {
  color: var(--primary-color);
  text-decoration: none;
  transition: opacity 0.1s linear;

  &:hover {
    opacity: 0.4;
  }
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--inverted-primary-color);
}
